{% extends 'base.html.twig' %}

{% block styles %}
	{{ parent() }}
{% endblock %}

{% block title %}Εφαρμογή Στρατιωτικών Οικημάτων
{% endblock %}

{% block body %}
	{{ parent() }}
	<div id="root"></div>
{% endblock %}

{#    <script type="text/javascript" src="{{ asset('build/runtime.js') }}"></script>#}
{% block javascripts %}
	{{ encore_entry_script_tags('js/app') }}
	{{ parent() }}

{% endblock %}
